.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(216, 216, 216);
  z-index: 100;
}

.header img{
  -webkit-user-drag: none;
  user-drag: none;
}

.header div{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.left-section, .middle-section, .right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-section {
  justify-content: start;
  margin: 0px 26px 0px 26px;
  width: 300px;
}

.middle-section{
  width: 800px;
  column-gap: 20px;
  justify-content:center;
}

.right-section{
  margin-right: 32px;
  justify-content: space-around;
  width: 240px;
  flex-shrink: 0;
}

.search-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center
}

.header-container{
  display: flex;
  transition: background-color 0.2s;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.search-bar {
  padding-left: 24px;
  width: 100%;
  min-width: 120px;
  max-width: 800px;
  height: 48px;
  border-radius: 24px 0px 0px 24px;
  border: 1px solid gray;
  font-size: 20px;
  display: block;
}

.search-bar:focus{
  outline: none;
  border: 1px solid rgb(0, 145, 255);
}

.youtube-logo {
  height: 24px;
  padding: 5px;
  margin: 0px 10px 0px 20px;
  cursor: pointer;
}

.voice-search-icon{
  cursor: pointer;
  height: 24px;
  padding: 11px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  transition: opacity 0.2s;
}

.search-btn:active
{
  background-color: rgb(218, 218, 218);
}

.hamburger-menu, 
.upload-icon,
.youtube-apps-icon,
.notifications-icon
{
  cursor: pointer;
  height: 24px;
  padding: 11px;
  border-radius: 50%;
  transition: opacity 0.2s;
}
.notifications-icon-container{
  display: flex;
  justify-content: center;
  position: relative;
}

.notifications-count{
  cursor: pointer;
  background-color: rgb(190, 0, 0);
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  right: 2px;
  border: 1px white solid;

}

.search-btn{
  height: 48px;
  border:1px gray;
  background-color: rgb(236, 236, 236);
  border-style: solid solid solid none;
  border-radius: 0px 27px 27px 0px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.header-container .tooltip{
  margin-top: 90px;
  position: absolute;
  opacity: 0;
  color: white;
  padding: 4px 8px 4px 8px;
  background: rgba(18, 18, 18, 0.6);
  border-radius: 2px;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.header-container:hover .tooltip{
  opacity: 1;
}

.search-btn-layout{
  margin: 0px 24px 0px 24px;
  height: 32px;
}

.search-bar:focus{
  outline: none;
  border: 1px solid rgb(0, 145, 255);
}

.profile-icon{
  height: 34px;
  border-radius: 50px;
  cursor: pointer;
}

.profile-icon:active{
  height: 32px;
  border: 1px solid rgb(0, 145, 255);
}

.notifications-container{
  cursor: pointer;
}

.hamburger-menu:hover, 
.upload-icon:hover,
.youtube-apps-icon:hover,
.notifications-icon:hover
{
  border: none;
  background-color: rgb(218, 218, 218);
}

.search-btn:hover, 
.voice-search-icon:hover{
  background-color: rgb(218, 218, 218);
}

.hamburger-menu:active, 
.upload-icon:active,
.youtube-apps-icon:active,
.notifications-icon:active
{
  opacity: 0.6;
}

.voice-search-icon:active, .search-btn:active{
  opacity: 0.6;
}

