*{
  font-family: Roboto, Arial;  
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 100px;
  padding-left: 130px;
  padding-right: 30px;
}

img{
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}