.sidebar {
  background-color: white;
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 200;
}

.sidebar img{
  -webkit-user-drag: none;
  user-drag: none;
}

.sidebar div{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-container{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  flex-shrink: 0;
}

.sidebar-container:hover{
  cursor: pointer;
  background-color: rgb(232, 232, 232);
}

.sidebar-container:active{
  background-color: rgb(218, 218, 218);
}

.sidebar-icon{
  margin: 5px 0px 10px 0px;
  height: 36px;
}