
.video-grid{
  display: grid;
  column-gap: 8px;
  row-gap: 16px;
}

@media (max-width: 768){
  .video-grid{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1079px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1080px) and (max-width: 1439px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.video-card{
  border-radius: 6px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.video-card a{
  text-decoration: inherit;
}

.video-card:active {
  background-color: rgb(231, 231, 231);
}

.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  flex-shrink: 0;
}

.thumbnail{
  z-index: -1;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.channel-picture{
  vertical-align: top;
}

.profile-picture{
  padding: 0px 5px 0px 5px;
  width: 50px;
  border: none;
  border-radius: 50%;
}

.video-info{
  margin-left: 8px;
}

.verified-user{
  opacity: 0.3;
  vertical-align: top;
  pointer-events: none;
  display: inline-block;
  width: 14px;
  height: 100%;
}

.video-title{
  color: black;
  margin-bottom: 12px;
}

.video-author a, 
.video-stats
{ 
  font-size: 12px;
  color: rgb(118, 118, 118);
  text-decoration: inherit;
}

.video-author a:hover{
  font-weight: 400;
  color:black;
}

.thumbnail-container{
  position: relative;
  margin-bottom:12px;
}

.duration {
  border-radius: 4px;
  color: white;
  background: rgba(18, 18, 18, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 4px;
}
