p {
  font-family: Arial;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  text-align: left;
  line-height: 24px;
  margin-bottom: 0px;
}

.video-stats {
  font-size: 14px;
  color: rgb(69, 69, 69);
  margin-top: 5px;
  margin-bottom: 0px;
}

.video-author {
  font-size: 14px;
  color: rgb(69, 69, 69);
  margin-top: 24px;
  margin-bottom: 0;
}

.video-desc {
  color: rgb(69, 69, 69);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apple-text {
  background-color: rgb(255, 61, 61);
  color: white;
  padding: 15px 40px;
  font-size: 14px;
  text-align: center;
}

.span-shop {
  cursor: pointer;
}

.span-shop:hover {
  text-decoration: underline;
}